/* Country dropdown */
.acf-field-phone .acf-input-wrap {
  overflow: visible;
}
.intl-tel-input .country-list {
  z-index: 2000;
}

/* Validation error */
.acf-phone-error {
  color: red;
  font-size: 12px;
}